a {
    transition: all ease .2s;
    cursor: pointer;
}

body {
    min-height: 600px;
    /* -webkit-text-stroke: 0.3px;
    text-shadow: 0 0 1px rgba(51,51,51,0.2); */    
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.4px rgba(0, 0, 0, 0.1);
    text-shadow: transparent 0px 1px 1px;
}

ul {
    list-style: none;
}
p{
    -webkit-text-stroke: 0.3px;
}