// Responsive
//1440< (Laptop L)
@media screen and (max-width: 1440px) {
    .proje-harita-head {
        margin: 30px auto 15px;
    }
    .proje-listesi>li {
        top: 20px;
    }
    .proje-listesi h4 {
        margin-top: 0;
    }
    .vertical-h-menu {
        display: none;
    }
    body .section-projeler .hero-proj {
        height: 535px;
    }
    body .section-projeler .standart-proj {
        height: 268px;
    }
    section.kartal-galeri {
        .head {
            &:after {
                font-size: 105px;
                left: -110px;
                top: 565px;
            }
        }
        .kartal-galeri-slider-container {
            min-height: 460px;
            .swiper-slide {
                min-height: 350px;
            }
        }
    }
    section.krtl-plans {
        ul.plans-menu {
            min-height: auto;
            li {
                a {
                    height: 133px;
                }
            }
        }
        .plans-slider-container {
            .swiper-slide {
                min-height: 530px;
            }
            min-height: 530px;
        }
    }
    .mo-head {
        top: $mo-height/1.15;
        h2 {
            font-size: 40px;
        }
    }
    .mo-places {
        top: $mo-height/1.3;
    }
    .tp-projects-top {
        @include hero-proj($height: 535px);
        .mask {
            @include mask($bottom: -((535px)-($header-height)), $background-color:rgba($gray-darker, 1), $padding:0, $height:535px);
        }
    }
    body .proje-collapsible-menu {
        position: absolute;
        left: 45px;
        width: 270px;
        font-size: 80%;
    }
    /* .hero-img h1 {
        /* top: 40px;
        right: 220px; 
    } */
    .spot {
        height: 903px;
        width: 65%;
        background-size: 90%;
        background-position: top right;
        top: 108px;
        h2 {
            font-size: 46px;
        }
        h4 {
            font-size: 30px;
        }
        h3 {
            font-size: 40px;
        }
        .spot-text {
            top: 470px;
            width: 48%;
        }
    }
    .kurum-content {
        margin-top: 220px;
    }
    .side-menu a.active:after {
        top: 16px;
    }
    .map {
        max-height: 576px;
    }
}

//1024< (Laptop)
@media screen and (max-width: 1024px) {
    body .basin-slide-container .golge {
        //padding-left: 15px;
        &:before {
            right: 272px;
        }
        &:after {
            left: 258px;
        }
    }
    section.mapWr {
        margin: 120px 0 80px;
    }
    .proje-footer .contact-items {
        li {
            display: block;
            text-align: left;
            &:after {
                display: none;
            }
        }
    }
    .har-projs .dplaces li {
        font-size: 15px;
        .circle {
            margin-right: 8px;
            width: 14px;
            height: 14px;
        }
    }
    section.krtl-plans {
        padding: 120px 30px 120px;
        /* .side-txt {
            transform: rotate(0) translateY(-100%);
            top: -29px;
            left: -6px;
            margin-top: 60px;
        } */
    }
    body section.krtl-tanitim {
        .krtl-tnt-aciklama {
            .head {
                padding: 30px 15px;
                li {
                    a {
                        margin: 0 7px;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    body section.kartal-galeri {
        padding: 110px 30px 30px;
        .kg-odaire-slider-container,
        .kg-icmimari-slider-container,
        .kg-mimari-slider-container {
            min-height: 350px;
        }
        .head {
            &:after {
                // Galeri Başlık Burada (.side-txt)
                transform: rotate(0) translateY(-100%);
                top: -23px;
                left: -6px;
                margin-top: 23px;
                line-height: 0;
                pointer-events: none;
            }
        }
    }
    .hide-in-mobil {
        display: none;
    }
    .show-in-mobil {
        display: block;
    }
    .tel.show-in-mobil {
        display: none;
    }
    .map.ilt-map {
        display: none;
    }
    .merkez-ofis {
        display: none;
    }
    .merkez {
        display: block;
    }
    .ofisler-wr {
        width: 100%;
    }
    body .b-talep-form {
        right: -10px; //padding: 7px 30px;
        font-size: 14px;
        &:hover {
            right: 0;
        }
    }
    .tp-projects-top {
        @include hero-proj($height: 445px);
        .mask {
            @include mask($bottom: -((445px)-($header-height)), $background-color:rgba($gray-darker, 1), $padding:0, $height:445px);
        }
        .detay-link {
            font-size: 18px;
        }
    }
    /* .hero-img h1 {
        //right: 70px;
    } */
    .kurum-content {
        margin-top: 100px;
        .container {
            width: 100%;
        }
    }
    .side-menu {
        padding-left: 15px;
    }
    .side-menu a.active:after {
        top: 16px;
    }
    .spot {
        display: none;
    }
    .drg-bg-img {
        width: 100%;
        float: none;
    }
    .dergi-content {
        img {
            margin: 30px auto;
            display: block;
        }
        p {
            text-align: center;
        }
    }
    .btn-oku {
        width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .blog-img {
        top: 122%;
    }
    .contact-items {
        padding: 0;
        .social-media-icons a {
            margin: 0 4px;
        }
        li {
            display: block;
            border: 0;
            &:last-child {
                margin-top: 10px;
            }
        }
    }
    footer {
        .text-right {
            h5 {
                text-align: center;
                font-size: 14px;
            }
        }
    }
    .swiper-container {
        height: 420px;
    }
}

//768< (Tablet)
@media screen and (max-width: 768px) {
    body .content-inner {
        h2 {
            font-size: 33px;
        }
    }
    body .haberler .basinda-list {
        li {
            height: $basin_box_image_small + 9;
        }
        a {
            height: $basin_box_image_small;
        }
        img {
            min-height: $basin_box_image_small;
        }
    }
    .h-info {
        padding-top: 10px;
        width: 100%;
    }
    body .section-projeler {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    body .basin-slide-container .golge {
        padding-left: 15px;
        &:before {
            right: 208px;
        }
        &:after {
            left: 209px;
        }
    }
    .basin-slide-container .swiper-slide:after {
        right: -15px;
    }
    /* .basin-slide-container .golge img {
        height: 125px;
    } */
    .krtl-hero {
        height: 300px;
    }
    .proje-footer {
        .social-media-icons {
            a {
                font-size: 18px;
                margin: 0;
                width: 36px;
                height: 36px;
                padding: 8px;
            }
        }
    }
    .mapWr {
        display: none;
    }
    section.krtl-plans {
        padding: 110px 0;
        .plans-menu {
            display: none;
            li {
                a {
                    font-size: 24px;
                }
            }
        }
        .plans-menu-mobile {
            .plans-menu {
                display: block;
                margin-bottom: 30px;
                li {
                    float: left;
                    width: 25%;
                    &:last-child {
                        a {
                            border: none;
                        }
                    }
                    a {
                        border-bottom: none;
                        border-right: 1px solid #fff;
                        height: 60px;
                        padding: 15px;
                        &:hover,
                        &:active,
                        &.active {
                            &:after {
                                top: auto;
                                bottom: -10px;
                                left: auto;
                                @include horizontal-align(absolute);
                                transform: rotate(45deg) translateX(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
    body section.kartal-galeri {
        padding: 110px 0 10px 0;
    }
    body section.krtl-tanitim {
        .krtl-tnt-aciklama {
            .swiper-slide {
                padding: 80px 15px;
                min-height: 420px;
                h3 {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            .head {
                li {
                    a {
                        font-size: 16px;
                        margin: 0 4px;
                    }
                }
                padding: 30px 5px;
            }
        }
    }
    .tp-projects-top {
        .detay-link {
            @include detay-link($width: auto, $font-size:22px, $before-left:-15px, $before-top:-10px, $top:-24px, $before-width:15px, $before-height:35px, $before-padding:5px);
            font-size: 14px;
        }
    }
    .hero-img {
        height: 55.55556vw;
        margin-top: 60px;
    }
    .hero-img h1 {
        font-size: 46px;
        margin-top: 0;
    }
    .kurum-content {
        margin-top: 30px;
        .col-sm-4 {
            @include make-xs-column(12);
            .side-menu {
                height: auto !important;
                border-right: none;
                border-bottom: 1px solid $gray-darker;
                padding-bottom: 30px;
                padding-left: 0;
                margin-bottom: 100px;
                text-align: center;
                width: 100%;
                li {
                    display: inline-block;
                    margin-right: 15px;
                    text-align: center;
                    a {
                        font-size: 18px;
                        &.active {
                            color: $sec-color;
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .col-sm-8 {
            @include make-xs-column(12);
        }
    }
    .swiper-container {
        height: 420px;
        .scroll-down-i {
            display: none;
        }
    }
    footer .blog {
        display: none;
    }
    body .hero-proj {
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
    }
    .blog-img {
        width: 100%;
    }
    .contact-items {
        padding: 0;
        .social-media-icons a {
            margin: 0 4px;
        }
        li {
            display: block;
            width: 100%;
            padding: 0;
            border: 0;
            margin-left: 0;
            margin-bottom: 15px;
            font-size: 130%;
        }
    }
    footer {
        h5 {
            text-align: center;
            font-size: 14px;
        }
    }
    .copy {
        float: left;
    }
    body .blog-inner {
        padding: 0 15px 0;
        img {
            width: 75%;
            margin: 25px auto 0;
        }
        .btn-blog {
            text-align: center;
            margin-bottom: 15px;
        }
    }
}

//425< (All Phones)
@media screen and (max-width: 425px) {
    body .content-inner {
        h2 {
            font-size: 26px;
        }
    }
    body .haberler .basinda-list {
        li {
            height: $basin_box_image_small + 14;
        }
        a {
            height: $basin_box_image_small;
        }
        img {
            min-height: $basin_box_image_small;
        }
    }
    body .krtl-video-slider-container {
        &,
        iframe {
            height: 260px !important;
        }
        .swiper-slide {
            min-height: 260px;
        }
    }
    body section.krtl-tanitim {
        .krtl-tnt-aciklama {
            .krtl-slider-container {
                .swiper-slide {
                    min-height: 360px;
                    height: 360px;
                }
                height: 360px;
            }
            .head {
                li {
                    a {
                        font-size: 13px;
                        margin: 0 2px;
                        letter-spacing: 0;
                    }
                }
            }
        }
        padding-top: 0;
    }
    .proje-footer {
        .social-media-icons {
            margin-bottom: 30px;
        }
        .foot-logo {
            text-align: center;
        }
        .contact-items {
            li {
                display: inline;
                float: none;
                &:after {
                    display: block;
                }
                a {
                    margin: 0 5px;
                }
                padding-right: 5px;
                padding-left: 5px;
            }
            text-align: center;
        }
        .col-xs-12 {
            padding: 0;
        }
    }
    .modal-body {
        img {
            width: 100%;
        }
    }
    body section.krtl-plans {
        .desc {
            h5,
            p {
                text-align: center;
            }
        }
        .plans-slider-container {
            min-height: 880px;
            .rooms {
                margin-top: 30px;
            }
            .swiper-slide {
                display: block;
                min-height: 200px;
                max-height: 880px;
            }
            top: 0;
        }
        .room-images {
            img {
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 100%;
                width: auto;
            }
        }
    }
    body .plans-slider-container,
    body .plans-slider-container .plan-1-slide-container,
    body .plans-slider-container .plan-2-slide-container,
    body .plans-slider-container .plan-3-slide-container,
    body .plans-slider-container .plan-4-slide-container {
        .rooms {
            &,
            &2,
            &3,
            &4 {
                margin-top: 30px;
            }
        }
        min-height: 0;
        top: 0;
    }
    body section.kartal-galeri {
        .kartal-galeri-slider-container {
            .swiper-slide {
                min-height: 160px;
            }
            top: 0;
            min-height: 160px;
            padding: 80px 15px;
            .kg-btn-prev {
                right: 67px;
            }
            .kg-btn-next {
                right: 15px;
            }
        }
        .kg-icmimari-slider-container,
        .kg-mimari-slider-container,
        .kg-odaire-slider-container {
            top: 0;
            min-height: 160px;
        }
        .head {
            a {
                padding: 15px 0;
                font-size: 14px;
            }
            &:after {
                font-size: 85px;
            }
        }
    }
    .tel.show-in-mobil {
        display: block;
    }
    body .bt-form label {
        margin-left: 0px;
        width: 48%;
        font-size: 13px
    }
    body .satis-ofisleri .so-ofis {
        p,
        span {
            font-size: 75%;
        }
        span {
            margin-right: 5px;
        }
    }
    .tp-projects-top {
        margin-top: 0;
        @include hero-proj($height: 555px);
        .mask {
            @include mask($bottom: -((555px)-($header-height)), $background-color:rgba($gray-darker, 1), $padding:0, $height:555px);
        }
        /*.detay-link {
            @include detay-link($width: auto, $font-size:18px, $before-left:-26px, $before-top:-12px, $top:-24px);
        }*/
        .col-sm-4:first-child & {
            margin-top: $header-height;
        }
    }
    html body .section-projeler {
        display: none;
        .standart-proj {
            left: 50%;
            transform: translateX(-50%);
            img {
                height: 470px;
                left: 50%;
                transform: translateX(-50%);
                width: auto !important;
            }
        }
        .hero-proj {
            height: 520px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            /*float: none;*/
            .mask {
                height: 520px;
            }
            img {
                height: 520px;
                left: 50%;
                transform: translateX(-50%);
                width: auto !important;
            }
        }
    }
    body {
        section {
            h2 {
                text-align: center;
            }
        }
        .section-medya {
            .v-sep {
                display: none;
            }
            padding: 80px 0 0;
        }
        .b-talep-form {
            transform-origin: center bottom;
            transform: rotate(0deg);
            bottom: -15px;
            right: 0;
            left: 0;
            top: auto;
            font-size: 18px;
            text-align: center;
            &:hover {
                bottom: 0px;
            }
        }
        .scroll-down-i {
            display: none !important;
        }
        .btn-sahil {
            display: none;
        }
        .swiper-slide {
            //background-size: 350px;
            background-position: top center;
        }
        .languages a {
            display: none;
        }
        .menu-toggle {
            right: 0;
        }
        .logo img {
            float: left;
        }
        .menu .navig li a,
        .search .navig li a {
            font-size: 30px;
        }
        .menu .languages {
            &,
            & a {
                display: block;
            }
        }
        .menu .navig {
            top: 40%;
            padding: 0;
        }
        .swiper-container {
            height: 240px;
            display: block;
            top: 60px;
        }
        .odul-slide-container,
        .basin-slide-container {
            height: 40%;
            display: block;
            top: 67px;
        }
        .basin-slide-container {
            height: 50%;
            margin-top: 15px;
            .btn-more {
                text-align: center;
                font-size: 90%;
            }
        }
        .hero-video {
            min-height: 240px;
            height: 200px;
            margin-top: 0 !important;
        }
    }
    section[class^='section'] {
        .container-fluid {
            padding: 0;
            margin-left: 0;
        }
        .head {
            padding: 0;
            h3 {
                text-align: center;
            }
        }
    }
    .basin-slide-container {
        h3 {
            text-align: center;
        }
        .golge:after,
        .golge:before {
            display: none;
        }
    }
    .basin-slide-container .swiper-slide {
        padding: 0;
        &:after {
            display: none;
        }
    }
    body .section-projeler {
        padding-bottom: 0;
        .hero-proj {
            h3 {
                font-size: 20px;
                letter-spacing: 4px;
                top: 25px;
            }
            .detay-link {
                font-size: 18px;
                width: 121px;
                font-family: $font-family-sans-serif;
                top: 105px;
                &:after,
                &:before {
                    height: 37px;
                    padding: 0;
                    width: 21px;
                }
                &:after {
                    right: -2px;
                }
                &:before {
                    left: -2px;
                }
            }
            .mask {
                p {
                    padding: 15px;
                    font-size: 14px;
                    line-height: 1.25;
                }
            }
            &:before {
                content: '';
                position: absolute;
                @include square(100%);
                background: linear-gradient(to top, rgba(#000, .0) 50%, rgba(#000, .8) 100%); //z-index: 3;
                z-index: 1;
            }
        }
        .hero-proj,
        .standart-proj {
            &,
            & .mask {
                height: 460px;
            }
            .mask {
                bottom: -510px;
            }
        }
        .hero-proj {
            .mask {
                bottom: -520px;
            }
            height: 520px;
        }
        .standart-proj {
            border: none;
            margin-top: 15px;
        }
    }
    footer {
        margin-top: 0;
        text-align: center;
        .container-fluid {
            margin-top: 0;
        }
        .bot-menu a {
            margin-left: 0;
            padding-left: 0;
            display: block;
            text-align: center;
            &:last-child:after {
                display: none;
            }
        }
        .copy {
            float: none;
            h4 {
                margin: 15px 0;
            }
        }
    }
    body .blog-inner {
        padding: 0 15px 0;
        img {
            width: 100%;
            margin-top: 25px;
        }
        .btn-blog {
            text-align: center;
        }
    }
    .bulten-input {
        font-size: 16px;
    }
    .foot-menu {
        padding-left: 0;
        margin-top: 10;
        li {
            display: block;
        }
    }
    body .hero-img {
        img {
            width: 150%;
        }
    }
    .spot {
        width: 100%;
        height: 410px;
        background-size: 100%;
        background-position: top right;
        top: 90px;
    }
    .hero-img h1 {
        font-size: 16px;
        /* top: 0;
        right: 25px; */
        border-left-width: 6px;
    }
    .spot .spot-text {
        position: relative;
        top: 210px;
        padding: 0 0 0 60%;
    }
    .spot {
        display: none;
        h2 {
            font-size: 18px;
            text-align: left;
        }
        h4 {
            font-size: 12px;
        }
        h3 {
            font-size: 14px;
        }
    }
    .kurum-content .col-sm-4 {
        top: 0;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        .side-menu {
            border: none;
            margin-bottom: 30px;
            li {
                display: block;
            }
            a {
                font-size: 21px;
                text-align: center;
                &.active:after {
                    display: none;
                }
            }
        }
    }
    .content-inner {
        margin-top: -40px; //margin-bottom: 195 px;
        padding-top: 15px;
        border-top: 1px solid $gray-darker;
    }
}