.krtl-header {
    @extend .header;
    padding: 30px;
    background: rgba(#fff, .7);
    .languages,
    .menu-toggle,
    .tel {
        @include vertical-align(absolute);
    }
    .menu-toggle {
        height: 30px;
    }
    &.static {
        .menu-toggle {
            top: 60px;
        }
    }
    .tel {
        font-family: $f-f-flexobold;
        font-size: 36px;
        right: 150px;
    }
}

.panorama {
    position: absolute;
    top: 0;
    left: 300px;
    font-size: 18px;
    .oi {
        font-size: $panorama-width;
    }
    &,
    .pt {
        @include vertical-align(absolute);
    }
    .pt {
        left: $panorama-width+15px;
        font-size: $panorama-width/2.25;
        font-family: $font-family-sans-serif;
    }
}

.krtl-hero {
    @extend %hero;
    height: 400px;
    margin-top: $header-height;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        display: block;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        z-index: 0;
    }
    .hero-logo {
        //padding-top: 60px;
        @include vertical-align();
        z-index: 1;
        img {
            display: block;
            margin: 0 auto;
            
        }
    }
   /*  .hero-slogan{
        margin-top: 30px;
        font-family: $f-bold;
        @include vertical-align();
        z-index: 1;
        font-size: 32px;
        text-align: center;
        color: #fff;
    } */
    /* .krtl-form-btn {
        position: absolute;
        bottom: 60px;
        right: 7%;
        font-size: 28px;
        span,
        i {
            transition: all ease .3s;
        }
        span {
            @include dashed-border();
            color: #ffffff;
            font-family: $font-family-sans-serif;
            padding-right: 100px;
        }
        i {
            border-radius: 100px;
            background-color: #fff;
            padding: 30px;
            color: $gray-darker;
            @include vertical-align(absolute);
            right: 0;
            line-height: 0;
            font-size: 38px;
        }
        &:hover {
            i {
                background-color: $main-color;
                color: #ffffff;
            }
            span {
                background-color: $main-color;
            }
        }
    } */
}

section.krtl-tanitim {
    padding: 80px 0;
    .krtl-tnt-aciklama {
        background-color: $krtl-color;
        .head {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            padding: 0;
            padding: 30px;
            z-index: 2;
            background: $krtl-color;
            li {
                text-align: center;
                display: inline;
                &:last-child {
                    a {
                        &:after {
                            border: none;
                        }
                    }
                }
                a {
                    display: inline-block;
                    color: #fff;
                    font-family: $f-f-flexobold;
                    font-size: 18px;
                    margin-right: 15px;
                    margin-left: 15px;
                    position: relative;
                    cursor: pointer;
                    &:hover,
                    &:active,
                    &.active {
                        color: $main-color;
                    }
                    &:after {
                        content: "";
                        border-right: 2px solid #fff;
                        height: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -17px;
                    }
                }
            }
        }
        .swiper-slide {
            display: block;
            text-align: left;
            padding: 72px 55px 15px;
            color: #fff;
            h3,
            h4 {
                width: 100%;
                line-height: 1.25;
            }
            h3 {
                font-size: 32px;
                padding-bottom: 30px;
                padding-top: 60px;
            }
            h4 {
                font-family: $font-family-sans-serif;
                font-size: 24px;
            }
        }
    }
}

section.kartal-galeri {
    padding: $section-padding;
    background: $krtl-color;
    .head {
        text-align: center;
        position: relative;
        div:last-child a {
            border: none;
        }
        a {
            background-color: $main-color;
            border-right: solid 1px #fff;
            color: #fff;
            width: 100%;
            display: block;
            font-size: 26px;
            padding: 30px 0;
            &:hover,
            &:active,
            &.active {
                background-color: $gray-light;
            }
        }
        &:after {
            content: 'GALERİ';
            font-size: 120px;
            color: #fff;
            transform: rotate(-90deg);
            transform-origin: top left;
            position: absolute;
            font-family: $f-f-flexobold;
            left: -127px;
            top: 706px;
        }
    }
}

.plans-menu-mobile {
    .plans-menu {
        display: none;
    }
}

section.krtl-plans {
    padding: $section-padding $section-padding/2;
    .container {
        position: relative;
        background-color: $gray-lighter;
    }
    .side-txt {
        @extend %side-text;
    }
    .plans-menu {
        background-color: $krtl-color;
        padding: 0;
        margin: 0;
        position: relative;
        min-height: 600px;
        li {
            a {
                height: (600px) / 4;
                font-size: 32px;
                padding: 50px 15px;
                border-bottom: 1px solid #fff;
                color: #fff;
                background-color: $krtl-color;
                display: block;
                text-align: center;
                position: relative;
                &:hover,
                &:active,
                &.active {
                    background-color: $gray-light;
                    &:after {
                        content: '';
                        @include vertical-align(absolute);
                        @include ucgen(12px, 2px, 0, 0, 2px, -45deg);
                        left: -6px;
                        border-color: $gray-light;
                        background-color: $gray-light;
                    }
                }
            }
            &:last-child a {
                border: none;
            }
        }
    }
    .rooms,
    .rooms2,
    .rooms3,
    .rooms4 {
        li {
            text-align: left;
            a {
                width: 90%;
                display: block;
                cursor: text;
                &:hover {
                    color: inherit;
                }
                .room-meters {
                    text-align: right;
                    float: right;
                }
            }
        }
    }
    .room-images {
        border-right: 1px solid #fff; //min-height: 600px;
        img {
            @include vertical-align(absolute);
            width: 90%;
            left: 0;
            &:hover {
                cursor: zoom-in;
            }
        }
    }
    .sizes {
        h3 {
            color: $krtl-color;
            font-size: 64px;
            font-family: $f-f-flexobold;
        }
        h4 {
            font-size: 32px;
        }
    }
    .desc {
        margin-top: 30px;
        h5 {
            font-size: 24px;
            color: $krtl-color;
            &,
            &+p {
                text-align: left;
            }
        }
    }
}

section.krtl-ozellikler {
    margin: $section-padding 0;
    .container {
        min-height: 530px;
        position: relative;
        .side-txt {
            @extend %side-text;
        }
        .ozellik {
            display: block;
            width: 100%;
            text-align: center;
            padding: 20px;
            height: 80px;
            position: relative;
            background: {
                repeat: no-repeat;
                size: cover;
                position: center center;
            }
            min-height: 180px;
            border: 1px solid #fff;
            &:hover {
                span {
                    opacity: 0;
                }
            }
            span {
                background: #fff;
                opacity: 0.8;
                transition: all ease .3s;
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                h3 {
                    @include complate-align(absolute);
                    font-size: 18px;
                    font-family: $f-normal;
                    margin: 0;
                }
            }
        }
    }
}

section.mapWr {
    margin: 0 0 $section-padding 0;
    .container {
        position: relative;
        background: $dty-map-color;
    }
    .side-txt {
        @extend %side-text;
    }
}

section.bi-tal-form {
    background: {
        image: url('../images/kartal-balkon-gece.jpg');
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
    .bt-form {
        background: rgba($krtl-color, .85);
    }
}