.tp-projects-top {
    margin-top: $header-height;
    @include hero-proj();
    .mask {
        @include mask($bottom: -(($tum-proj-height)-($header-height)), $background-color:rgba($gray-darker, 1), $padding:0);
    }
    &:hover .mask {
        @include hover-mask();
        background-color: rgba($gray-darker, .7);
        .detay-link {
            top: 30px;
        }
    }
    h3 {
        @include hero-proj-h3();
    }
    .detay-link {
        @include detay-link($width: auto, $font-size:22px, $before-left:-26px, $before-top:-12px, $top:-24px);
        letter-spacing: 0;
        text-indent: 0;
    }
}

.tp-box-field {
    text-align: center;
    font-family: $font-family-sans-serif;
    div[class^="col"] {
        overflow: hidden;
        margin-bottom: 30px;
        @media screen and (max-width: 425px) {
            margin-bottom: 15px;
            border: 1px solid lighten($gray-light, 30%);
            padding: 5px;
        }
    }
    h2 {
        letter-spacing: 15px;
        text-indent: 15px;
        font-size: 24px;
        padding: 30px 30px 15px;
        @media screen and (max-width: 425px) {
            padding-top: 0;
            letter-spacing: 0;
            text-indent: 0;
            font-size: 15px;
            text-align: left;
            padding-left: 0;
        }
    }
    &-text {
        float: right;
        text-align: left;
        padding-left: 15px;
        width: 66.66%;
        @media screen and (min-width: 425px) {
            display: none;
        }
    }
    &-head {
        font-size: 16px;
        display: block;
        font-family: $f-f-flexobold;
    }
    &-p {
        font-size: 12px;
    }
    a {
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;
        @media screen and (max-width: 425px) {
            float: left;
            width: 33.33%;
        }
        @media screen and (min-width: 425px) {
            max-height: 350px;
        }
        h4 {
            font-size: 24px;
            color: #fff;
            font-family: inherit;
            @include complate-align(absolute);
            z-index: 2;
            line-height: 1.5;
            img {
                // height: 45px;
                width: 90px;
                @media screen and (max-width: 425px) {
                    display: none;
                }
            }
        }
        img {
            @include complate-align(absolute);
        }
        &:after {
            content: '';
            transition: all ease .2s;
            width: 85%;
            @include complate-align(absolute);
            background-color: rgba(#000, .7);
            height: 85%;
            opacity: 1;
            display: block;
            @media screen and (max-width: 425px) {
                display: none;
            }
        }
        &:hover {
            &:after {
                opacity: 0.5;
            }
        }
    }
}

.tp-r-header {
    overflow: hidden;
    width: 100%;
    height: 350px;
    background-color: #000;
    margin-bottom: 60px;
    img {
        width: 100%;
        height: auto;
        opacity: .7;
        min-height: 350px;
        @media screen and (max-width: 425px) {
            display: none;
        }
    }
    @media screen and (max-width: 425px) {
        background-color: transparent;
        height: 15px;
    }
}