/*
*******************
my custom scss file
*******************
*/

body{
    padding-top: $navbar-height;
    margin-bottom: 60px;
}
footer{
    height: 60px;
    position: absolute;
    bottom: 0;
    width:100%;
}

